// Override default Vanilla settings in your main Sass file
// $grid-max-width: 1600px;
$sp-unit: 0.35rem;

@import "vanilla-framework";
@include vanilla;

.p-card--shadowed {
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.1), -1px -1px 8px 0px rgba(0,0,0,0.1);
}

.is-dashed {
    border-top: 1px dashed rgba(0,0,0,.1);
    height: 0;
}

.p-card--overlined {
    border-top: 5px solid #a87ca0;
    border-radius: 5px 5px 0 0;
}

.f-screen {
    margin: 1rem 0;
    min-height: 100vh;
    // overflow: hidden;
    display: grid;
}

.f-screen i {
    scale: 3;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}